

.sobre-mim {
  width: 100%;
  padding: 4rem 2rem; // estava grande demais
  display: flex;
  justify-content: center;
  align-items: center;



  background-color: #f5f5f5;

    @media (max-width: 480px) {
    padding: 2.5rem 1rem;
  }

  .container-sobre-mim {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 48px;
      color: #000;
      margin-bottom: 1rem;

      span {
        color: #d666f8;
      }
    }

    p {
      padding: 5px 20px;
      border-left: 8px solid #d666f8;
      max-width: 900px;

      @media (max-width: 480px) {
        font-size: 14px;
        padding: 5px 15px;
      }
    }

    .container-infos-skils {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .info-pessoa {
        flex: 1 1 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h3 {
          color: #735f75;
          font-weight: 400;
        }

        ul {
          list-style: none;
          width: 100%;
          padding: 12px;
          border-radius: 5px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          background: white;

          li {
            display: flex;
            align-items: center;
            gap: 8px;

            i {
              color:#d666f8;
            }

            @media (max-width: 480px) {
              font-size: 14px;
            }
          }
        }
      }

      .info-skils {
        flex: 1 1 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        h3 {
          color: #735f75;
          font-weight: 400;
        }

        ul {
          width: 100%;
          padding: 15px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem;
          border-right: 10px solid #d666f8;
          background: white;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          list-style-type: none;

          li {
            font-size: 3rem;
            color: #735f75;
            transition: 0.3s ease;

            i {
              color: #d666f8;
            }

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
