#educacao {
  padding: 60px 20px;
  background: #f5f5f5;

  .container-educacao {
    max-width: 1000px;
    margin: 0 auto;

    h2 {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 40px;
    }

    .dot-span {
    color: #d666f8;
  }

    .box-edu {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 20px;

      .educacao {
        background: white;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: 0.3s;

        &:hover {
          transform: translateY(-5px);
        }

        h3 {
          font-size: 1.2rem;
          margin-bottom: 15px;
        }

        hr {
          border: 0;
          height: 1px;
          background: #ddd;
          margin: 10px 0;
        }

        .curso {
          font-size: 1rem;
          font-weight: 600;
        }

        .escola {
          font-size: 0.9rem;
          color: #444;
        }
      }
    }
  }
}
