#footer {
    max-height: 140vh;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:480px) {
        padding: 20px;
        min-height: 120vh;
    }

    

}