#footer {
    max-height: 140vh;
    min-height: 50vh;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c46e;

    @media screen and (max-width:480px) {
        padding: 20px;
        min-height: 120vh;
    }

    .container-contato {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-around;
        gap: 2rem;

        .intro-footer {
            width: 400px;
            max-width: 90vw;

            h2 {
                font-size: 42px;
                color: #000;

                @media screen and (max-width: 360px){
                    font-size: 32px;
                }
          
                span {
                  color: $roxo-fraco;
                }
              }
        }

        .redes-sociais {
            max-width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 10px;
            list-style-type: none;

            @media screen and (max-width:480px) {
                width: 90vw;
            }

            h3 {
                font-size: 24px;
                color: #000;
                font-weight: 700;
            }

            a {
                font-size: 20px;
                color: #000;
                text-decoration: none;

                i {
                    font-size: 32px;
                }
            }
        }
        .info-footer {
            max-width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 20px;
            list-style-type: none;

            @media screen and (max-width:480px) {
                width: 90vw;
            }

            b {
                font-size: 18px;
            }

            a {
                width: 180px;
                height: 50px;
                text-align: center;
                background-color: $roxo-fraco;
                text-decoration: none;
                color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                transition: all 0.5s ease;
                box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.3);

                &:hover {
                    width: 210px;
                }
            }
        }
    }



}