$roxo-fraco: #d666f8;
$preto: #000;
$branco: #fff;

.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  padding: 15px 40px;
  background: $preto;
  color: $branco;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    color: $branco;
    text-decoration: none;
  }

  .nav-desktop {
    display: flex;
    gap: 18px;

    a {
      color: $branco;
      text-decoration: none;
      font-size: 18px;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      transition: 0.3s;

      &:hover {
        border-color: $roxo-fraco;
      }
    }
  }

  .btn-menu-mobile {
    display: none;
    background: none;
    border: none;
    color: $branco;
    font-size: 30px;
    cursor: pointer;
  }

  @media (max-width: 720px) {
    .nav-desktop {
      display: none;
    }
    .btn-menu-mobile {
      display: block;
    }
  }
}

// ========================
// NAV MOBILE
// ========================
.nav-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: absolute;
  width: 100%;
  top: 65px;
  right: 0;

  background: $preto;
  padding: 25px 40px;

  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;

  transition: 0.4s ease;

  a {
    color: $branco;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s;

    &:hover {
      border-color: $roxo-fraco;
    }
  }

  &.ativar {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}
