$branco: #fff;
@mixin confiPadraoSec {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    accent-color: #df87fa;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(120deg,#fff,#ccbebe);
}
@import 'header';
@import 'main';
@import 'about';
@import 'projetos';
@import 'educacao';
@import 'footer';
